
.idea/gradle.xml
*.lock
*.bin
*.bin
*.bin
*.bin
*.gradle
*.probe
*.bin
*.lock
*.bin
*.lock
*.lock
*.bin
*.lock
*.bin
*.lock
*.xml
*.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.idea/gradle.xml
